<launch>

  <node pkg="joy" exec="joy_node" name="joy_node">
  </node>

  <node pkg="solenoid_valve" exec="solenoid_valve" name="solenoid_valve">
    <param from="$(find-pkg-share solenoid_valve)/config/solenoid.yaml"/>
  </node>
  
  <include file="$(find-pkg-share can_plugins2)/launch/slcan_bridge_launch.xml"/>

</launch>