<launch>

  <node pkg="joy" exec="joy_node" name="joy_node">
  </node>

  <node pkg="l4dc" exec="l4dc4_node" name="l4dc4_node">
    <param from="$(find-pkg-share l4dc)/config/l4dc4.yaml"/>
  </node>

  <node pkg="solenoid_valve_ros2" exec="solenoid_valve_ros2" name="solenoid_valve_ros2">
    <param from="$(find-pkg-share solenoid_valve_ros2)/config/solenoid.yaml"/>
  </node>
  
  <include file="$(find-pkg-share can_plugins2)/launch/slcan_bridge_launch.xml"/>

</launch>